body {
  margin: 0;
  padding: 0;
}

.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;

  &__changer {
    text-align: center;
    position: fixed;
    z-index: 400;
    border-radius: 50%;
    background:radial-gradient(circle,red,rgb(5, 5, 71),rgb(231, 231, 60));
    height: 7rem;
    width: 7rem;
    position: fixed;
    bottom: 10rem;
    right: 6rem;

    &:hover{
    background-image: radial-gradient( circle farthest-corner at -2% 1.4%,  rgba(255,15,15,1) 0%, rgba(228,0,228,1) 100.7% );
    }

    &:active{
        background-image: radial-gradient( circle 404px at -8% -12.9%,  rgba(171,250,36,0.78) 19.7%, rgba(248,10,194,0.8) 59.3%, rgba(0,19,250,0.7) 95.6% );
    }
  }

  

  &__changer:hover ~ &__img {
    filter: grayscale(0%) drop-shadow(1.5rem 1.5rem 2rem blue) hue-rotate(90deg);
    cursor: wait;
  }

  &__changer:active ~ &__img {
    filter: grayscale(0%) contrast(150%) saturate(170%) brightness(103%);
    cursor: pointer;
  }

  &__img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    filter: grayscale(100%);
    z-index: 0;
  }

  &__img:hover {
    cursor: pointer;
    transform: translate(0.1rem, 0.1rem) scale(1.1);
    z-index: 10;
    filter: grayscale(0%);
    filter: contrast(100%);
    transition: 0.8s;
  }

  &__img:active {
    cursor: zoom-in;
    transition-timing-function: ease;
    transform: translate(0.5rem, 0.5rem) scale(1.5);
    z-index: 12;
    filter: grayscale(0%);
    filter: contrast(100%);
    transition: 1s;
  }
}

@media (max-width: 1200px) {
  .photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
